.searchModalContainer{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000DD;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.searchModal{
    background-color: #FFF;
    padding: 50px;
    border-radius:10px
}
.scrollView{
    height: 200px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}