.videoModalContainer{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000DD;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.videoModal{
    background-color: #FFF;
    padding: 50px;
    border-radius:10px
}
.btnHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionButton{
    margin: 10px;
}
.cross{
    float: right;
    margin-top: -60px;
    margin-right: -40px;
    font-size: 50px;
    cursor: pointer;
    transform: rotate(45deg);
}